# Ditch sudo and use containers.
# @link http://docs.travis-ci.com/user/migrating-from-legacy/#Why-migrate-to-container-based-infrastructure%3F
# @link http://docs.travis-ci.com/user/workers/container-based-infrastructure/#Routing-your-build-to-container-based-infrastructure
sudo: false
language: php

notifications:
  email:
    on_success: never
    on_failure: change
  slack:
    secure: QZrl08SxRfVNKKDwFxHzp8Yl+EQwabeNyF/mS/6HTfalV4tqaPXD9Xc8FY60c6Adgy3yrp1Vhv5h/XPL+Q2sROTDFE9oWWJcPHzQOr9qfRafrA4j2yyqVvhjZfjXtdqJgnS8Ubk3840kPAIrOyNCYbwHtTpcoNLoeVewM7mSQWI=

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

php:
  - 5.6
  - 7.2
  - 7.3

env:
  - WP_VERSION=latest WP_MULTISITE=0

matrix:
  include:
    # Only run nightly against trunk.
    - php: nightly
      env: WP_VERSION=nightly
    # For PHP 7.2 also run Multisite
    - php: 7.2
      env: WP_VERSION=latest WP_MULTISITE=1
  allow_failures:
      - php: nightly
  fast_finish: true

install:
  - |
    if [[ $TRAVIS_PHP_VERSION == 5.6 ]]; then
      # Install composer dev dependencies only for PHP 5.6
      # composer dev dependencies are used for running phpcs and testing Unintall and Codeception
      composer install
    else
      composer install  --no-dev
    fi

before_script:
  - rm -rf /tmp/wordpress-tests-lib
  - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
  - |
    if [[ $TRAVIS_PHP_VERSION == 5.6 ]]; then
      export WP_TESTS_DIR=/tmp/wordpress-tests-lib/
      ln -s `pwd` /tmp/wordpress/wp-content/plugins/email-log
    fi

script:
  - |
    if [[ $TRAVIS_PHP_VERSION == 7.3 ]]; then
      # Run code coverage for PHP 7.3 alone
      vendor/bin/phpunit --coverage-clover=coverage.clover
    else
      vendor/bin/phpunit

      if [[ $TRAVIS_PHP_VERSION == 5.6 ]]; then
        # Run uninstall tests in PHP 5.6
        vendor/bin/phpunit --group=uninstall-delete
        vendor/bin/phpunit --group=uninstall

        # Run PHPCompatibility code sniffs.
        bash bin/phpcs.sh
      fi
    fi

after_script:
  - |
    if [[ $TRAVIS_PHP_VERSION == 7.3 ]]; then
      wget https://scrutinizer-ci.com/ocular.phar
      php ocular.phar code-coverage:upload --format=php-clover coverage.clover
    fi
