# Ditch sudo and use containers.
# @link http://docs.travis-ci.com/user/migrating-from-legacy/#Why-migrate-to-container-based-infrastructure%3F
# @link http://docs.travis-ci.com/user/workers/container-based-infrastructure/#Routing-your-build-to-container-based-infrastructure
sudo: false

language: php

notifications:
  email:
    on_success: never
    on_failure: change
  slack:
    secure: QZrl08SxRfVNKKDwFxHzp8Yl+EQwabeNyF/mS/6HTfalV4tqaPXD9Xc8FY60c6Adgy3yrp1Vhv5h/XPL+Q2sROTDFE9oWWJcPHzQOr9qfRafrA4j2yyqVvhjZfjXtdqJgnS8Ubk3840kPAIrOyNCYbwHtTpcoNLoeVewM7mSQWI=

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1

env:
  - WP_VERSION=latest WP_MULTISITE=0

matrix:
  include:
    # Only run HHVM against trunk.
    - php: hhvm
      env: WP_VERSION=nightly
    # Only run nightly against trunk.
    - php: nightly
      env: WP_VERSION=nightly
    # For PHP 5.3 also run Multisite
    - php: 5.3
      env: WP_VERSION=latest WP_MULTISITE=1
  allow_failures:
      - php: hhvm
      - php: nightly
  fast_finish: true

install:
  - |
    if [[ $TRAVIS_PHP_VERSION == 5.6 ]]; then
      # Run composer install only for PHP 5.6
      # composer is used for testing Unintall and Codeception
      composer install
    fi

before_script:
  - rm -rf /tmp/wordpress-tests-lib
  - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
  - |
    if [[ $TRAVIS_PHP_VERSION == 5.6 ]]; then
      export WP_TESTS_DIR=/tmp/wordpress-tests-lib/
      ln -s `pwd` /tmp/wordpress/wp-content/plugins/email-log
    fi

script:
  - |
    if [[ $TRAVIS_PHP_VERSION == 5.4 ]]; then
      # Run code coverage for PHP 5.4 alone
      phpunit --coverage-clover=coverage.clover
    else
      phpunit

      if [[ $TRAVIS_PHP_VERSION == 5.6 ]]; then
        # Run uninstall tests in PHP 5.6
        phpunit --group=uninstall-delete
        phpunit --group=uninstall
      fi
    fi

after_script:
  - |
    if [[ $TRAVIS_PHP_VERSION == 5.4 ]]; then
      wget https://scrutinizer-ci.com/ocular.phar
      php ocular.phar code-coverage:upload --format=php-clover coverage.clover
    fi
