<phpunit
	bootstrap="tests/wp-tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="default">
			<directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator=">=">./tests/wp-tests/</directory>
		</testsuite>
		<testsuite name="uninstall">
			<!-- You must use "-\-group uninstall" when running this suite. -->
			<directory suffix=".php">./tests/wp-tests/uninstall/</directory>
		</testsuite>
	</testsuites>

	<groups>
		<exclude>
			<group>uninstall</group>
		</exclude>
	</groups>

	<filter>
		<whitelist>
			<directory suffix=".php">include</directory>
			<file>email-log.php</file>
			<file>uninstall.php</file>
		</whitelist>
	</filter>
</phpunit>
