.el-container {
	width: 100%;
}

.el-addon {
	background: #FFF;
	border: 1px solid #ccc;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	padding: 1%;
	margin-bottom: 2%;
}

.el-container .disabled {
	cursor: not-allowed !important;
}

@media screen and (max-width:989px) {
	.el-addon {
		float: none;
		width: 95%;
	}

	.el-addon img {
		height: auto;
		width: 100%;
	}
}

@media screen and (min-width:990px) and (max-width:1199px) {
	.el-addon {
		float: left;
		width: 45%;
	}

	.el-addon img {
		height: auto;
		width: 100%;
	}

	.el-addon:nth-child(even) {
		margin-left: 1%;
	}
}

@media screen and (min-width:1200px) {
	.el-addon {
		float: left;
		width: 30%;
	}

	.el-addon img {
		height: auto;
		width: 100%;
	}

	.el-addon:nth-child(3n-1) {
		margin-left: 1.5%;
		margin-right: 1.5%;
	}

	.el-addon:nth-child(3n+1) {
		clear: both;
	}
}

.bundle-license {
	margin-bottom: 3%;
}

.bundle-license .notice-warning {
	padding-top: 10px;
	padding-bottom: 10px;
}

.bundle-license .el-license {
	font-size: 1.7em;
}

.bundle-license .button {
	margin-top: 2px;
}

.bundle-license .expires {
	margin-left: 5px;
	margin-top: 5px;
}

.individual-license {
	padding-top: 10px;
}

.individual-license .button {
	margin-top: -2px;
}

.el-expander {
	float: right;
	font-size: 40px;
	margin-top: -5px;
	margin-right: 10px;
}
