#search_id-search-date-input {
	float: left;
	height: 28px;
	margin: 0 4px 0 0;
}

#tabs {
	margin-top: 10px;
}

.tabs-text-textarea {
	height: 100%;
	width: 100%;
}

#tabs-1,
#tabs-2 {
	height: 335px;
	overflow: auto;
}

#view-message-footer {
	padding: 10px 0 0 0;
}

#thickbox-footer-close {
	display: block;
	height: 20px;
	text-align: center;
	text-decoration: none;
	background: #f1f1f1;
	padding: 5px 0;
	color: #c4c4c4;
}

#thickbox-footer-close:hover {
	background: #eee;
	color: #666;
}

#TB_ajaxContent {
	padding-bottom: 10px !important; /* Override the default Thickbox css values. */
	overflow: hidden !important; /* Override the default Thickbox css values. */
}